<nav class="navbar navbar-inverse" role="navigation">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Curry Me Spicy!</a>
    </div>
	<!--<div class="collapse navbar-collapse navbar-ex1-collapse">-->
    <div class="collapse navbar-collapse" id="myNavbar">
	   <!--<h3 style="color:gray;font-style:italic;">Curry Me Spicy!</h3>-->
	   <ul class="nav navbar-nav navbar-right">
		  <li class="active"><a href="#/home">Home</a></li>
		  <li><a href="#/about">About Us</a></li>
		  <li><a href="#/contact">Contact</a></li>
	   </ul>
	</div>
</div>
</nav>